*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}
header {
    background: #0d1b2a;
    text-align: center;
    padding: 20px 0;
}
header img {
    max-width: 100px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.gallery .category {
    flex: 1 1 calc(33.333% - 40px);
    margin: 20px;
    background: rgb(159, 116, 226);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.gallery .category img {
    width: 100%;
    height: auto;
    display: block;
}
.category h2 {
    text-align: center;
    padding: 10px 0;
    margin: 0;
    background: #778da9;
    color: rgb(0, 0, 0);
}
.contact-us {
    background: #778da9;
    color: #0d1b2a;
    padding: 60px 310px;
    text-align: center;
}
.contact-us form {
    display: inline-block;
    width: 500px;
    text-align: center;
    background-color: #e5e5e5;

}
.contact-us label {
    display: block;
    margin-bottom: 20px;
    background-color: #778da9;
}
.contact-us input, .contact-us textarea {
    width: 420px;
    height: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background: #ffffff;
}
.contact-us button {
    padding: 15px 60px;
    background: #000000;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin: 20px;
    
}
.contact-us button:hover {
    background: #415a77;
}



@media (max-width: 768px) {
    .gallery .category {
        flex: 1 1 calc(50% - 40px);
    }
}
@media (max-width: 480px) {
    .gallery .category {
        flex: 1 1 100%;
    }
}